#contents {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 4vw;
}
.elements {
    border: 0.2vw solid black;
    border-radius: 1vw;
    margin: 3vw;
    width: 40vw;
    background-color: rgb(255, 255, 255);
}
.elements img {
    width: 40vw;
    height: auto;
    border-radius: 1vw;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.elements img:active, img:hover {
    transform: scale(0.8);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0.5;
}